body{
    background-color: rgb(168, 168, 168);
}

 .container h1{
    font-size: 6rem;
}
.container h2{

   font-size: 1.6rem;

}
input{
    font-size: 1.8rem;
    font-weight: bold;
    padding: 0px 10px;
   
}


b{
    font-size: 1.8rem;

}